@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;


}
body { 
    background-image: linear-gradient(to bottom, rgb(232, 239, 163), rgb(205, 225, 123) );
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}
.links{
    text-decoration: none;
    text-align: justify;
    color: black;
    font-size: 15px;
}
.links:hover{
    text-decoration: underline;
}
p{
    text-align: justify;
    
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    width: 700px;
    padding: 10px;
    margin: auto;
}

a{
    color: black;
    text-decoration: none;
}
.direita{
    float: right;
}

header{
    background-color: rgb(84, 58, 55);
    
}
header h1{
    text-align: center;
}
.p1{
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
